<html>
    <head></head>
    <body>

        <h1>Detalhes da Enquete {{ pergunta.id }}</h1>
        <u>Pergunta</u>: {{ pergunta.texto }} <br>
        <u>Data da Publicação</u>: {{ pergunta.data_publicacao }}
        {% if error_message %}
            <hr/>
                <strong>{{ error_message }}</strong>
            <hr/>
        {% endif%}
        <form action="{% url 'main:votacao' pergunta.id %}" method="post">
            {% csrf_token %}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li><input type="radio" name="opcao"
                    id="opcao{{ forloop.counter }}" value="{{ opcao.id }}">
                        <label for="opcao{{ forloop.counter }}">
                            {{ opcao.texto }}
                        </label>
                    </li>
                {% endfor %}

            </ul>
            <input type="submit" value="Registre o Seu Voto">
        </form>
        <h2>Comentários</h2>
        <ul>
            {% for comentario in pergunta.comentario_set.all %}
                <li>
                    <label for="comentario{{ forloop.counter }}">
                        <a href="{% url 'main:detalhes_comentario' comentario.id %}">{{ comentario.texto }}</a>
                    </label>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'main:index' %}">Ir à Página Principal</a>




    </body>

</html>
