<html>
    <head></head>
    <body>
        Detalhes Comentarios
        <h2>Comentários</h2>

        <ul>
            <li>{{ comentario.nomeAutor }}</li>
            <li>{{ comentario.texto }}</li>
            <li>{{ comentario.data_publicacao }}</li>

        </ul>
        <a href="{% url 'main:detalhes' comentario.pergunta_id %}">Voltar A Enquete?</a>
        <a href="{% url 'main:index' %}">Ir à Página Principal</a>
    </body>

</html>