<html>
    <head>
        <title>App Enquete</title>
    </head>
    <body>
        {% if ultimas_perguntas %}
            <h2>Lista das últimas enquetes</h2>
            <ul>
                {% for pergunta in ultimas_perguntas %}
                    <li><a href="{% url 'main:detalhes' pergunta.id %}">
                        {{pergunta.texto}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há Enquetes Cadastradas até o Momento</p>
        {% endif %}
    </body>
</html>