{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Iury Macks">
    <meta name="keywords"content = "Arte, Review, Tecnologia"/>
    <meta name="ROBOTS" content ="Index,follow"/>
    <title> Review</title>
    <!-- estilo CSS
    <link rel="stylesheet" type="text/css"  href="{% static '' %}" />  -->
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/img/apple-touch-icon.png' %}" />
    <link rel="stylesheet" type="text/css"  href="{% static 'assets/css/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css"  href="{% static 'assets/css/theme.css' %}" />

    <link rel="stylesheet" type="text/css"  href="{% static 'css/detalhes.css' %}" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" >
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dual-collapse2" aria-controls="dual-collapse2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <a class="mx-auto" href="{% url 'home:home' %}">
    <img class=" w-20" src="/media/imgs/logoblack2.png">
  </a>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="dual-collapse2">
    <ul class="navbar-nav ml-auto" style="font-size: large;">

          <li class="nav-item active">
              <a class="nav-link mr-sm-2" style="color: white;" href="{% url 'review:reviews' %}">Inicio</a>
          </li>

      {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link mr-sm-2" style="color: white;" href="{% url 'review:dashboard' %}">Posts</a>
            </li>

      {% endif %}
      {% if request.user.is_authenticated %}

          <li class="nav-item">
              <a class="nav-link mr-sm-2" style="color: white;" href="{% url 'review:logout' %}">Sair</a>
          </li>


        <li class="nav-item">
          <a class="nav-link" href="#">{{request.user.username}}</a>
        </li>


        <li class="nav-item">
          <img src="{{request.user.photo.url}}" class="rounded-circle mr-sm-2" alt="Cinque Terre" width="42" height="42">
        </li>

      {% else %}

            <li class="nav-item">
                <a class="nav-link mr-sm-2" href="{% url 'review:irtelalogin' %}">Entrar</a>
            </li>

      {% endif %}
    </ul>
  </div>
</nav>
<img class="img-responsive" src="/media/imgs/darkArt.jpg" alt="Chania"  >

<div class="d-flex justify-content-around" style="background-color: white;">
  <!--<img class="img-responsive" src="/media/imgs/eyeMonster.gif" alt="Chania"> -->
</div>

<body >
  {% block content %}

  {% endblock %}

</body>


<footer class="mastfoot mt-auto" style="text-align: center; background-color: black;">
  <div class="inner">
    <p style="color: aliceblue;">Copyright © 2015-2020 <a href="https://www.instagram.com/nablasoftwares/">NablaSoftwares</a>. Todos os direitos reservados.</p>
  </div>
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
    <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main:index' %}">Site Enquete</a>
        </li>
    </ul>
</div>
</footer>

</html>