{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{{message}}

<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Escolha Uma Aplicação</h1>
        <p>
          <a href="{% url 'review:reviews' %}" class="btn btn-primary my-2">Aplicação Review</a>
          <a href="{% url 'main:index' %}" class="btn btn-secondary my-2">Aplicação Enquete</a>
        </p>
      </div>
    </section>

  </main>

{% endblock %}