{% extends 'base.html' %}

{% block title %} Home {% endblock %}




{% block content %}
{{message}}

<div style="text-align: center;">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h4 class="cover-heading">{{postDetalhes.post.titulo}}</h4>
  </main>
</div>

</div>





<div class="album py-5" style="background-color: black;">
  <div class="container" style="text-align: center;">


            <div id="carouselExampleIndicators" class="carousel slide md-6" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for img in postDetalhes.post.postImagens.all %}
                  <li data-target="#carouselExampleIndicators{{forloop.counter}}" 
                  data-slide-to="{{forloop.counter}}" class="{% if forloop.counter == 1 %}active{% endif %}"></li>
                  
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block mx-auto w-50  rounded" src="{{ postDetalhes.post.postImagens.first.image.url }}" alt="First slide">
                </div>
                {% for img in postDetalhes.post.postImagens.all %}
                  {% if img == postDetalhes.post.postImagens.first %}
                  
                  {% else %}
                  <div class="carousel-item">
                    <img class="d-block mx-auto w-50 rounded" src="{{ img.image.url }}" alt="First slide">
                  </div>
                  {% endif %}

                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            
            <div class="card-body" style="border-bottom: -30em;" >

              <h5 class="card-title" style="color:white;" >{{postDetalhes.post.titulo}}</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="color:whitesmoke;">Desenvolvedor: {{postDetalhes.post.user.username}}</h6>
              <p class="card-text" style="color:white;">{{postDetalhes.post.descricao}}</p>

              <form action="{% url 'review:votacao' postDetalhes.post.id %}" method="POST">
                {% csrf_token %}
                <!-- Material inline 1 -->
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" 
                  id="materialInline1-{{postDetalhes.post.id}}" name="estrelas" value="1">
                  <label class="form-check-label" for="materialInline1" style="color: white;">1</label>
                </div>

                <!-- Material inline 2 -->
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" 
                  id="materialInline2-{{postDetalhes.post.id}}" name="estrelas" value="2">
                  <label class="form-check-label" for="materialInline2" style="color: white;">2</label>
                </div>

                <!-- Material inline 3 -->
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" 
                  id="materialInline3-{{postDetalhes.post.id}}" name="estrelas" value="3">
                  <label class="form-check-label" for="materialInline3" style="color: white;">3</label>
                </div>

                <!-- Material inline 3 -->
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" 
                  id="materialInline4-{{postDetalhes.post.id}}" name="estrelas" value="4">
                  <label class="form-check-label" for="materialInline4" style="color: white;">4</label>
                </div>

                <!-- Material inline 3 -->
                <div class="form-check form-check-inline">
                  <input type="radio" class="form-check-input" 
                  id="materialInline5-{{postDetalhes.post.id}}" name="estrelas" value="5">
                  <label class="form-check-label" for="materialInline5" style="color: white;">5</label>
                </div>
                <p >
                  <button type="submit" class="btn btn-dark btn-block"> Votar  </button>
                </p>
              </form>
            </div>

    <p style="color: aliceblue;">      
{{postDetalhes.qntVotos}} Votos 

</p>  
            <div class=" align-items-center" style="border-bottom: 8em;" >
              <div class="align-items-center" style="border-bottom: 8em;">
                <span class="rating">
                  {% for i in postDetalhes.n %}
                    {% if i < postDetalhes.media_estrelas %}
                      <i class="uk-icon-star" style="color: rgb(226, 226, 3);"></i>
                    {% else %}
                      <i class="uk-icon-star"></i>
                    {% endif %}
                  {% endfor %}
                </span>
              </div>                           
            </div>
          <br><br>
       
</div>


<!-- COMENTARIOS -->
<div class="container col-md-8">
  <div class="be-comment-block">
    <h1 class="comments-title" style="color: aliceblue;">Comentários</h1>


    <form class="form-block" action="{% url 'review:detalhes' postDetalhes.post.id %}" method="POST">
      {% csrf_token %}
      <div class="col-xs-12">									
        <div class="form-group">
          <textarea class="form-input" name="comentario" required="" id="comentario"
          placeholder="manda aí seu review ;D"></textarea>
        </div>
      </div>
      <div class="col-xs-4">
        <p >
          <button type="submit" class="btn btn-primary btn-block"> Enviar  </button>
        </p>
      </div>
    </form>


    {% for coment in postDetalhes.comentsRelated %}
    <div class="be-comment">
      <div class="be-img-comment">	
        <a href="#">
          <img src="/media/imgs/icon_anonymous.png" alt="" class="be-ava-comment">
        </a>
      </div>
      <div class="be-comment-content">
        
          <span class="be-comment-name">
            <a href="#" style="color: aliceblue;">Anônimo</a>
            </span>
          <span class="be-comment-time">
            <i class="fa fa-clock-o"></i>
            {{coment.data_publicacao}}
          </span>
  
        <p class="be-comment-text" style="color:black; font-size: large;">
          {{coment.texto}}
        </p>
      </div>
    </div>
    {% endfor %}
    
  </div>
  </div>

  <!-- FIM COMENTARIOS -->




{% endblock %}