
    <ul class="nav fixed-top justify-content-end menu" >
      <li class="nav-item inicio">
        <a class="nav-link" href="{% url 'main:index' %}">Início</a>
      </li>
      <li class="nav-item sobre">
        <a class="nav-link" href="#">Sobre nós</a>
      </li>
      <li class="nav-item contato">
        <a class="nav-link " href="#">Contato</a>
      </li>
      <li class="nav-item login">
        
      </li>
    </ul>