{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{{message}}
<main role="main" style="background-color: black;">

    <section class="jumbotron text-center"
        style="background-color: black;  margin-bottom: 7em; ">
      <div class="container" style="height:1.0em; background-color: black;">
        <h3 class="jumbotron-heading">Votaí</h3>
        <p class=" text-muted">Avalie e Seja Avaliado Por uma comunidade de Usuários e Designers!</p>
        {% if request.user.is_authenticated %}
          <p>
            <a href="{% url 'review:dashboard' %}" class="btn btn-primary my-2">{{all_posts.nomePainel}}</a>
          </p>
        {% else %}
          <p>
            <a href="{% url 'review:formcadastro' %}" class="btn btn-primary my-2">{{all_posts.nomeCadastrese}}</a>
          </p>
        {% endif %}
        <!-- BOTAO EXTERNO PARA MEU GAME HTML5 DARK ENGINEER -->
        <p style="margin-top: -1em;">
          <a href="https://thwir.000webhostapp.com/games/alone_1.85b/index.html"
          class="btn btn-secondary my-2" >Conheça Dark Engineer</a>
        </p>
      </div>
    </section>

    <div class="album py-5" style="background-color: black;">
      <div class="container">

        <div class="row">
          {% for post in all_posts.allposts %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">

                <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for img in post.postImagens.all %}
                      <li data-target="#carouselExampleIndicators{{forloop.counter}}"
                      data-slide-to="{{forloop.counter}}" class="{% if forloop.counter == 1 %}active{% endif %}"></li>

                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="{{ post.postImagens.first.image.url }}" alt="First slide">
                    </div>
                    {% for img in post.postImagens.all %}
                      {% if img == post.postImagens.first %}

                      {% else %}
                      <div class="carousel-item">
                        <img class="d-block w-100" src="{{ img.image.url }}" alt="First slide">
                      </div>
                      {% endif %}

                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>




                <div class="card-body">

                  <h5 class="card-title" style="color:black;" >{{post.titulo}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Desenvolvedor: {{post.user.username}}</h6>
                  <p class="card-text">{{post.descricao}}</p>

                  <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center">
                        <span class="rating">
                          {% for i in 'cinco' %}
                            {% if forloop.counter <= post.mediaEstrelas %}
                              <i class="uk-icon-star" style="color: rgb(226, 226, 3);"></i>
                            {% else %}
                              <i class="uk-icon-star"></i>
                            {% endif %}
                          {% endfor %}
                        </span>
                      </div>

                      <p>
                        <a href="{% url 'review:detalhes' post.id %}" class="btn btn-primary my-2">Detalhes</a>
                      </p>

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}



      </div>
    </div>

</main>
{% endblock %}