{% extends 'base.html' %}

{% block content %}
<div class="container w-50" align="center" >
    User Id: {{userId}}
    <form action="{% url 'review:criar_post' userId %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Título </label>
              <input type="text" name="titulo" id="titulo" class="form-control" placeholder="" required>
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <label>Conte um Pouco Sobre o Game</label>
            <input type="textarea" name="descricao" id="descricao" required=''
            class="form-control" placeholder="">
        </div> <!-- form-group end.// -->

        <div class="form-group">
            <label for="photo">Imagem Inicial</label>
            <input type="file" name="photo" class="form-control-file" id="photo" placeholder="Escolha uma imagem" required />
        </div>
        <div class="form-group">
            <label for="photo2">Segunda Imagem</label>
            <input type="file" name="photo2" class="form-control-file" id="photo2" placeholder="Escolha uma imagem" required />
        </div>
        <div class="form-group">
            <label for="photo3">Segunda Imagem</label>
            <input type="file" name="photo3" class="form-control-file" id="photo3" placeholder="Escolha uma imagem" required />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block"> Criar Postagem  </button>
        </div> <!-- form-group// -->
    </form>

</div>
{% endblock %}