{% extends 'base.html' %}

{% block content %}

{{error}}
<div class="container w-50" align="center" >
<div class="login-form" >
    <form action="{% url 'review:realizarlogin' %}" method="POST">
        {% csrf_token %}
        <h2 class="text-center">Entrar</h2>
        <div class="form-group">
        	<div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>
                </div>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="required">
            </div>
        </div>
		<div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark login-btn btn-block">Entrar</button>
        </div>
        <!--
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>
        -->
    </form>
</div>

</div>
{% endblock %}