{% extends 'base.html' %}

{% block content %}
<div class="container w-50" align="center" >
    <form action="{% url 'review:cadastro' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Usuario </label>
              <input type="text" name="username" id="username" class="form-control" placeholder="">
        </div> <!-- form-group end.// -->
        <div class="form-row">
            <div class="col form-group">
                <label>Nome </label>
                  <input type="text" name="first_name" id="first_name" class="form-control" placeholder="">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label>Sobrenome</label>
                  <input type="text" name="last_name" id="last_name" class="form-control" placeholder=" ">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="">
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <label>Senha</label>
            <input class="form-control" type="password" name="password" id="password">
        </div> <!-- form-group end.// -->

        <div class="form-group">
            <label for="photo">Escolha uma Imagem:</label>
            <input type="file" name="photo" class="form-control-file" id="photo" placeholder="Escolha uma imagem" required />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block"> Cadastrar  </button>
        </div> <!-- form-group// -->
    </form>

</div>
{% endblock %}